/* Import style utama untuk elemen dasar */
@import url('../style.css');

.search-results-container {
    padding: 20px;
}

.ticket-card {
    background: var(--white);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border-left: 6px solid var(--accent);
}

.ticket-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #eee;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.po-title { font-weight: 800; color: var(--p-dark); font-size: 1.1rem; }
.jam-badge { font-size: 0.8rem; font-weight: 600; color: #666; }

.ticket-mid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.route-text h3 { font-size: 1.1rem; margin-bottom: 5px; }
.route-text p { font-size: 0.8rem; color: #888; }

.price-text { text-align: right; }
.price-val { 
    display: block; 
    font-size: 1.2rem; 
    font-weight: 800; 
    color: #D32F2F; 
}

.no-result {
    text-align: center;
    padding: 100px 20px;
    color: #ccc;
}
